<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AGauge_V2" version="2.0.2" targetFramework="net451" />
  <package id="NFileHelper" version="1.0.2" targetFramework="net451" />
  <package id="NPLCMitsuConfig" version="1.1.1" targetFramework="net451" />
  <package id="WMPLib" version="1.0.0" targetFramework="net451" developmentDependency="true" />
</packages>